@import '../_colors.scss';

.fullScreenImg {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: -1;
  filter: brightness(0.6);
  overflow: hidden;
  max-width: 100svw;
  max-height: 100svh;
}

.hero-img {
  position: relative;
  top: 0;
  left: 0;
  background-image: url('/src/assets/img/book_small.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

.hero-text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-text h1,
.hero-text p {
  text-transform: uppercase;
  margin: 0;
  z-index: 1;
  font-weight: bold;
}

.hero-text a,
.hero-text p {
  margin-top: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.fa-chevron-down {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
  padding: 5px;
  color: $white;
  cursor: pointer;
}
.blue-text {
  color: $main-color;
}

.phoneContainer {
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .mobilePhone {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    min-width: 380px;
  }

  .bookIcon {
    position: absolute;
    width: 25%;
    height: 25%;
    top: 20%;
    left: 50%;
    flex-wrap: nowrap;
    transform: translateX(-50%);
  }

  .bookText {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: $white;
  }
}

@media (max-width: 1280px) {
  .mobilePhone {
    width: 80% !important;
    height: 80% !important;
  }
}

@media (min-width: 768px) {
  .bookIcon {
    top: 25% !important;
  }

  .hero-img {
    background-image: url('/src/assets/img/book_big.png');
  }

  .fa-chevron-down {
    bottom: 3%;
  }
}
