@import '../_colors.scss';

.nav-skew {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 200px;
  z-index: 100;
  width: 100%;
  flex-direction: column;
  display: flex;
  text-align: left;

  .navbar-brand {
    position: absolute;
    top: 43px;
    left: 45px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;

    p {
      display: inline-block;
      transition: all 0.3s ease-in-out;
    }
    span {
      color: $main-color;
      transition: all 0.3s ease-in-out;
    }

    .logo-icon {
      display: inline-block;
      margin-right: 15px;
    }
  }
  .navbar-brand:hover {
    span {
      color: $white;
    }
    p {
      color: $main-color;
    }
  }
}

.nav-skew:before {
  content: '';
  background: $white;
  position: absolute;
  top: 0;
  right: -300px;
  -webkit-transform: skew(56.1deg);
  -ms-transform: skew(56.1deg);
  transform: skew(56.1deg);
  z-index: 9999;
  width: 445px;
  height: 200px;
  box-shadow: 0 0 11px rgba(183, 198, 203, 0.65);
}

.skew-flex {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}

.nav-text {
  color: #152339;
}

.info-skew {
  padding-top: 10px;
  padding-right: 49px;
  text-align: left;
  align-items: flex-end;
  width: 100%;
}

.skew-text {
  z-index: 9999;
  font-size: 14px;
  font-weight: 600;
}
.hamburger-menu {
  position: absolute;
  z-index: 99999;
  top: 50px;
  right: 45px;

  .tham-inner,
  .tham:before,
  .tham:after {
    background-color: $black;
  }
}

@media screen and (max-width: 524px) {
  .navbar-brand {
    span,
    p {
      display: none !important;
    }

    .logo-icon {
      display: inline-block;
      margin-right: 0;
    }

    left: 25px !important;
  }

  .hamburger-menu {
    right: 25px;
  }
}
