@import '../_colors.scss';

.white-block {
  position: absolute;
  height: 40px;
  width: 60%;
  background-color: $white;

  &-left {
    bottom: 0;
    left: -50px;
    transform: skew(45deg);
  }

  &-right {
    top: 0;
    right: -50px;
    transform: skew(45deg);
  }
}

#screens {
  .bg-image {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/img/test.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
    max-height: 1000px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .white-block {
    height: 50px;
    width: 45%;
  }
}

// manualSection
.img-container {
  height: 100%; /* Ensure the container takes the full height of its parent */
  display: flex; /* Enable flexbox layout */
  justify-content: flex-end; /* Center the image horizontally */
}

.img-container img {
  max-height: 100%; /* Make the image fill the container's height, but don't stretch larger than its original size */
  max-width: 100%; /* Make the image responsive, don't stretch wider than its original size */
  width: auto; /* Ensure the image maintains its aspect ratio */
  height: auto; /* Ensure the image maintains its aspect ratio */
}
