.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 100;
  color: #fff;
  height: fit-content;
  @apply bg-sunflower-100 dark:bg-gray-950;
}
