@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-padding-top: 72px;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	height: 100vh;
}